@charset "utf-8";
/* CSS Document */
*{
  margin:0px;
  border:0px;
  padding:0px;
}
body{
  font-family:"宋体";
  font-size:12px;
  background:#FAFAFA;
}
.margin {
  margin:20px 0px 0px 40px;
}
.fl {
  float:left;
}
.fr{
  float:right;
}
#container {
  width:1000px;
  margin:auto;
}
#header {
  width:1000px;
  height:150px;
}
.logo {
  height: 120px;
  width:120px;
  background-color:yellow;
  text-align:center;
  vertical-align:center; 
  line-height:100px;
}
.citylist li{
  display:inline-block;
  font-size:18px;
  font-weight:bold;
}
.main {
  width:1000px;
  height:800px;
}
.intro-text{
  width:600px;
  height:200px;
}
.introduction{
  width:600px;
}
.demo-image{
  width:200px;

}
.recommand{

}
#footer {
  width:1000px;
  height:20px;
  background:#FAFAFA;
  text-align:center;
}
